body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

header {
  background-color: #34c571;
  font-size: 50px;
}

titulo{
  font-size: 30px;
}

p{
  font-size: 20px;
}