body{
  background-color: #34c571;
  color: rgb(0, 0, 0);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

header {
  background-color: #34c571;
  font-size: 60px;
  margin-left: -10%;
  margin-right: -10%;
  font-weight: bold;
  margin-top: -3.2%;
}

img{
  margin-right: 50%;
  width: 600px; 
  height: 400px; 
  object-fit: cover; 
  border-radius: 10px;
  margin-top: 1%;
}

p  {
  font-size: 20px;
  width: 50%;
  margin-left: 50%;
  margin-top: 10px; 
  position: relative; 
  top: -20px; 
}

strong{
  font-size: 30px;
}



article {
  background-color: #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  display: flex; 
  flex-direction: column; 
  min-height: 500px;
}
article:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

article p{
  margin-top: -20%;
}

button{
  margin-top: 9%;
  width: 8%;
  margin-left: 45%;
}